body { 
  background-color: black;
  color: white;
}
body a {
  color: white;
}
.logo { 
  width: 100%;
  min-width: 50px;
}

.nav-bar li{
  width: 25%;
  text-align: center;
  float: left;
  list-style: none;
}

.nav-bar {
  height: 5rem;
  margin-top: 5%;
  padding-left: 0%;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
  font-size: 3rem;
}

.nav-bar a {
  color: white;
}

.ep-art { 
  width: 70%;
}

/* EP advertisement on homepage*/
.ep-advertisement h2 {
  font-size: 5rem;
  text-align: center;
}
.ep-advertisement a:hover {
  text-decoration: none;
  color: white;
}
.ep-advertisement a {
  font-size: 2.3rem;
}

.center-img {
  display: block;
  margin: auto;
}
.contact-aside ul {
  padding-left: 15%;
}
.contact-aside h2 { 
  font-size: 3rem;
}
.contact-aside li {
  list-style: none;
  font-size: 2rem;
}
.email p {
  font-size: 2rem;
}
.recent-projects h2 {
  font-size: 4rem;
}
.recent-projects  h4{
 font-size: 2rem;
}
.recent-projects li {
  list-style: none;
  float: left;
  width: 33%;
}

.simple-foot {
  border-top: 1px solid white;
  font-size: 1.8rem;
}

/*Dropdown Menu when hovering*/

.nav-bar li ul {
  position: absolute;
  display: none;
  width: inherit;
  font-size: 2rem;
}

.nav-bar li:hover ul {
  display: block;
  z-index: 1;
  background-color: black;
}

.nav-bar li ul li {
  clear: both;
  width: 100%;
  border-bottom: 1px solid white;
}
.nav-bar li ul li:first-child {
  border-top: 1px solid white;
}
.nav-bar li:hover {
  background-color: #0A4A7A;
}

/* Music Pages */

.music-nav li {
  float: left;
  font-size: 2.5rem;
  padding: 1% 1%;
  width: auto;
}

.music-nav {
  height: 5rem;
  margin-bottom: 5%;
}

.clear-fix {
  clear: both;
}
.current-page {
  border: 2px solid white;
  border-bottom: none;
}

.current-page a:hover {
 color: white;
  text-decoration: none;
}

.music-img {
  width: 35%;
  float: left;
  margin-right: 3%;
}

.music-description {
  font-size: 1.8rem;
}
.album-title {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3%
}
.emphasis {
  font-size: 2.1rem;
}

footer {
  margin-top: 5%;
}

.sc-player {
  margin-top: 3%;
}